$font-family-main: 'Open Sans', 'arial', sans-serif;
$font-family-heading: 'Source Sans Pro', 'arial', sans-serif;

$font-size-main: 16px;
$font-size-h1: 35px;
$font-size-h2: 20px;
$font-size-description: 14px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$color-main: #ffffff;
$color-h2: #333b46;
$color-description: #81868e;
$color-hover: #f0ff00;
