.grid {
	width: 100%;
}

.grid-sizer,
.grid__item {
	width: 270px;
	margin-bottom: 10px;
}

/* .switchers-list {
	box-sizing: border-box;
	display: flex;
	list-style: none;
	margin-bottom: 80px;
}

.switchers-list__item {
	margin: 0 15px;
		&--active .switchers-list__link::after {
			content: '';
			background-color: #19bd9a;
			position: absolute;
			width: 40px;
			height: 2px;
			bottom: -5px;
			left: 50%;
			transform: translate(-50%, 0);
		}
}


.switchers-list__link {
	position: relative;
	font-family: $font-family-main;
	font-size: $font-size-main;
	font-weight: $font-weight-regular;
	line-height: 0.75;
	text-decoration: none;
	color: #333b46;
		&:hover::after,
		&:focus::after,
		&:active::after {
			content: '';
			background-color: #19bd9a;
			position: absolute;
			width: 40px;
			height: 2px;
			bottom: -5px;
			left: 50%;
			transform: translate(-50%, 0);
		}
}
 */