.wrap {
	display: flex;
	justify-content: center;
	width: 100%;
}

.wrap--portfolio{
	background-color: #f3f3f3;
}

.wrap--team {
	background-color: #ffffff;
}

.wrap--testimonials {
	background-color: #f3f3f3;
}

